html,
body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.face {
    font-size: 5rem;
    aspect-ratio: 1;
    line-height: 0;
}

.flags,
.timer {
    font-size: 3rem;
}

#grid {
    width: 100%;
    /* prevents scroll/drag */
    touch-action: none;
    flex-basis: 100%;
}

#grid>div {
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
}

.empty {
    background: url('../images/empty.png') center/100% no-repeat;
}

.unknown {
    background: url('../images/unknown.png') center/100% no-repeat;
}

.one {
    background: url('../images/one.png') center/100% no-repeat;
}

.two {
    background: url('../images/two.png') center/100% no-repeat;
}

.three {
    background: url('../images/three.png') center/100% no-repeat;
}

.four {
    background: url('../images/four.png') center/100% no-repeat;
}

.five {
    background: url('../images/five.png') center/100% no-repeat;
}

.mine {
    background: url('../images/mine.png') center/100% no-repeat;
}

.flag {
    background: url('../images/flag.png') center/100% no-repeat;
}

.exploded {
    background: url('../images/mine.png') red center/100% no-repeat;
}

.success {
    background: url('../images/success.png') center/100% no-repeat;
}

/* desktop styles */
@media (min-width: 768px) {
    main {
        margin: auto;
        width: 75%;
    }
}
