html,
body {
    margin: 0;
    padding: 0;
    font: 1rem monospace;
    height: 100dvh;
}

main#game {
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0; /* row-gap column-gap*/
    height: 100dvh;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

form button {
    margin: 0 0 1rem 2rem;
    font-size: 1rem;
}

button#face,
button#settings {
    aspect-ratio: 1;
    font-size: 4rem;
    line-height: 0;
    border: 0;
    background: none;
    max-width: 25%;
    padding: 0;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

#flags,
#timer {
    font-size: 3rem;
}

#grid {
    align-self: baseline;
    border-bottom: 0;
    border-right: 0;
    border: 1px solid black;
    flex-basis: 100%;
    width: 100%;
}

#grid>div {
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
}

.empty {
    background: url('../images/empty.png') center/100% no-repeat;
}

.unknown {
    background: url('../images/unknown.png') center/100% no-repeat;
}

.one {
    background: url('../images/one.png') center/100% no-repeat;
}

.two {
    background: url('../images/two.png') center/100% no-repeat;
}

.three {
    background: url('../images/three.png') center/100% no-repeat;
}

.four {
    background: url('../images/four.png') center/100% no-repeat;
}

.five {
    background: url('../images/five.png') center/100% no-repeat;
}

.six {
    background: url('../images/six.png') center/100% no-repeat;
}

.mine {
    background: url('../images/mine.png') center/100% no-repeat;
}

.flag {
    background: url('../images/flag.png') center/100% no-repeat;
}

.exploded {
    background: url('../images/mine.png') red center/100% no-repeat;
}

.marked {
    background: url('../images/mine.png') greenyellow center/100% no-repeat;
}

.success {
    background: url('../images/success.png') center/100% no-repeat;
}

/* desktop styles */
@media (min-width: 768px) and (orientation: landscape) {
    html {
        font-size: 1.5rem;
    }

    main {
        margin: auto;
        width: 50%;
    }
}
